<% if logged_in?(:site_admin) %>

<p class="blog-post-meta blogcrumb">
    <%= link_to fa_icon('file-text'), toggle_status_blog_path(blog), style: blog_status_color(blog), alt: blog.status, title: blog.status %>
    <%= link_to fa_icon('pencil-square-o'), edit_blog_path(blog), alt: 'edit', title: 'edit' %>
    <%= link_to fa_icon('trash'), blog, method: :delete, data: { confirm: 'Are you sure?' }, alt: 'delete', title: 'delete' %>
</p>
<% end %>