<div class="comment-card">
  <div class="card">
    <div class="card-block">
      <div class="row">
        <div class="col-md-2">
          <p>img</p>
        </div>
        <div class="col-md-10">
          <%= comment.content %>
        </div>
      </div>
    </div>
  </div>
</div>