<footer class="mastfoot mt-auto">
    <div class="inner">
        <!-- <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p> -->
        <p class="app-footer">
            <%= copyright_generator %> | Version 2.7.05
        </p>
    </div>
</footer>
