<!-- start blog header -->
<div class="blog-header">
    <div class="container">
        <h1 class="blog-title">
            <%= link_to 'Blogs', blogs_path %>
        </h1>
        <p class="lead blog-description">What's going down :-)</p>
        <% if logged_in?(:site_admin)%>
        <span class="masthead-link">
            <%= link_to 'Create a new Blog', new_blog_path, class: 'btn-sm btn-secondary'%> |
        </span>
        <% end %>
        <span class="masthead-link">

            <%= link_to "topics list", topics_path %>
        </span>
    </div>
</div>
<!-- end blog header -->