<!-- start blog header -->
<div class="blog-header">
    <div class="container">
        <h1 class="blog-title">
            <%= link_to 'Blogs', blogs_path %>
        </h1>
        <p class="lead blog-description">What's going down :-)</p>
        <% if logged_in?(:site_admin)%>
        <%= link_to 'Create a new Blog', new_blog_path%> |
        <% end %>
        <%= link_to "topics list", topics_path %>
    </div>
</div>
<!-- end blog header -->