<div class="app-card-container">
    <div class="card">

        <h1>About Me</h1>
        <hr>

        <div class="row">
            <div class="col-md-4">

                <!-- image -->
                <!-- <img src="/assets/Peter_20190121_202047.jpg" width="300"> -->

                <%= image_tag 'Peter_20190121_202047.jpg', width: 235, alt: "Peter Torr Smith, a laugh on the beach :-)" %>
            </div>
            <div class="col-md-8">

                <p>I've been living in Wellington since 1993 and in that time have worked in IT, Government and
                    start-up
                    businesses in
                    many different roles</p>
                <p>I've recently finished several years working with the Ministry of Social Development working on IT
                    business
                    projects, programmes
                    and portfolios of a wide range of services and applications. These have been mainly web
                    applications
                    and
                    for the last few years mobile web.</p>
                <p>I had a great time doing the
                    <%= link_to 'Enspiral Dev Academy Bootcamp', 'https://devacademy.co.nz/', target: "_blank" %>
                    'Hihi' at
                    the
                    end of 2018,
                    being immersed in a
                    world of Javascript and modern and robust web app development.</p>
                <p> I'm now using that
                    knowledge, skills and awareness to explore new online business ventures and opportunities.</p>
                <p>My current focus is upgrading <a href="http://www.hirethings.com">HireThings.com / .co.nz / com.au</a>
                    to a
                    more appropriate
                    style and
                    focus required of a modern useful online service</p>
                <p>I love business, technology, governance, finance, food and fermentation, swimming, art, living in
                    Aro
                    Valley, and
                    spending time with my partner on our various projects and going on adventures :-)</p>
                <p>I enjoy getting in and helping make a business, team, technology and process work, and I like being
                    part
                    of
                    that
                    business. I'd love to explore business opportunities with you and see what great things we can make
                    happen</p>
                <p>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#jobHistory"
                        aria-expanded="false" aria-controls="jobHistory">Job History</button>
                    <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#qualifications"
                        aria-expanded="false" aria-controls="qualifications">Qualifications</button>
                </p>
                <p>
                    <div class="collapse" id="jobHistory">
                        <div class="card card-block">
                            Job current
                        </div>
                        <div class="card card-block">
                            Job MSD 3
                        </div>
                        <div class="card card-block">
                            Job MSD 2
                        </div>
                        <div class="card card-block">
                            Job MSD 1
                        </div>
                        <div class="card card-block">
                            Job Catalyst
                        </div>
                        <div class="card card-block">
                            Job Hire Things
                        </div>
                        <div class="card card-block">
                            Job Intergen
                        </div>
                        <div class="card card-block">
                            Job Intergen
                        </div>

                    </div>
                </p>

                <p>
                    <div class="collapse" id="qualifications">
                        <div class="card card-block">
                            Qual recent
                        </div>
                        <div class="card card-block">
                            qual 3
                        </div>
                        <div class="card card-block">
                            qual 3
                        </div>
                        <div class="card card-block">
                            qual 1
                        </div>

                    </div>
                </p>
            </div>
        </div>
    </div>
</div>