<h1>About Me</h1>
<hr>

<div class="row">
    <div class="col-md-4">

        <!-- image -->
        <!-- <img src="/assets/Peter_20190121_202047.jpg" width="300"> -->

        <%= image_tag 'Peter_20190121_202047.jpg', width: 235, alt: "Peter Torr Smith, a laugh on the beach :-)" %>
    </div>
    <div class="col-md-8">

        <p>I've been living in Wellington since 1993 and in that time have worked in IT, Government and start-up
            businesses in
            many different roles</p>
        <p>I've recently finished several years working with the Ministry of Social Development working on IT business
            projects, programmes
            and portfolios of a wide range of services and applications. These have been mainly web applications and
            for the last few years mobile web.</p>
        <p>I had a great time doing the Enspiral Dev Academy Bootcamp 'Hihi' at the end of 2018, and am now using that
            confidence, skills, network and awareness to explore new online business ventures and opportunities.</p>
        <p>My current focus is upgrading <a href="http://www.hirethings.com">HireThings.com / .co.nz / com.au</a> to a
            more appropriate
            style and
            focus required of a modern useful online service</p>
        <p>I love business, technology, governance, finance, food and fermentation, swimming, art, living in Aro
            Valley, and
            spending time with my partner on our various projects and going on adventures :-)</p>
        <p>I enjoy getting in and helping make a business, team, technology and process work, and I like being part of
            that
            business. I'd love to explore business opportunities with you and see what great things we can make happen</p>

    </div>
</div>