<h1>Coffee? or Beer?</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <h3>Location:</h3>
        <p> Aro Village <br />
            Aro Valley<br />
            Wellington, 6021</p>

        <h3>Phone</h3>
        <p>
            <%= number_to_phone '+64 21 451967' %>
        </p>

        <h3>Email</h3>
        <p>
            <a href="mailto:ptorrsmith@gmail.com?subject=Catch-up?" target="_blank">ptorrsmith@gmail.com</a>
        </p>
        <p>
            <a href="mailto:peter@ptorrsmith.com?subject=Catch-up?" target="_blank">peter@ptorrsmith.com</a>
        </p>

        <h3>Linked-In</h3>
        <p>
            <a href="https://www.linkedin.com/in/ptorrsmith" target="_blank">linkedin.com/in/ptorrsmith</a>
        </p>

        <h3>GitHub</h3>
        <p>
            <a href="https://github.com/ptorrsmith" target="_blank">github.com/ptorrsmith</a>
        </p>

    </div>

    <div class="col-md-8 google-maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d743.9021437828025!2d174.76739847370683!3d-41.29539361506966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2snz!4v1600116387315!5m2!1sen!2snz" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        <% if 1 == 2 %>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d374.7030311965602!2d174.76698827548046!3d-41.29528157714839!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d38b0242e3b17ef%3A0xd43fea97cdb6718e!2s73+Aro+St%2C+Aro+Valley%2C+Wellington+6021!5e0!3m2!1sen!2snz!4v1549771748872"
            width="500" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
        <% end %>
    </div>

</div>












<!--
<p><%#= number_to_currency 45.55 %>
<p><%#= number_to_currency "3345342.53234" %>

<p><%#= number_to_percentage 5.3 %>

<p><%#= number_with_delimiter 32414243.124 %>
 -->