<h1>Coffee? or Beer?</h1>
<hr />

<div class="row">
    <div class="col-md-6">
        <h3>Office Address</h3>
        <p>73 Aro St <br />
            Aro Village <br />
            Aro Valley<br />
            Wellington, 6021</p>

        <h3>Phone</h3>
        <p>
            <%= number_to_phone '+64 21 451967' %>
        </p>

        <h3>Email</h3>
        <p>
            <a href="mailto:peter@southeastwest.com?subject=Catch-up?">peter@southeastwest.com</a>
        </p>

    </div>

    <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d374.7030311965602!2d174.76698827548046!3d-41.29528157714839!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d38b0242e3b17ef%3A0xd43fea97cdb6718e!2s73+Aro+St%2C+Aro+Valley%2C+Wellington+6021!5e0!3m2!1sen!2snz!4v1549771748872"
            width="500" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

</div>












<!-- 
<p><%#= number_to_currency 45.55 %>
<p><%#= number_to_currency "3345342.53234" %>

<p><%#= number_to_percentage 5.3 %>

<p><%#= number_with_delimiter 32414243.124 %>
 -->