<main role="main" class="inner cover">
    <h1 class="cover-heading">Completion of the Udemy Jordan Hudgens Rails 5 Professional course - March 2019
    </h1>
    <p class="lead">
        <%= image_tag 'UdemyDissectingRails5_CompletionCertificate.jpg', width: '100%', alt: "Certificate for Completing Udemy Dissecting Rails 5 Professional course", title: "Certificate for Completing Udemy Dissecting Rails 5 Professional course" %>
    </p>
    <p class="lead">
        <!-- <a href="<%= about_me_path %>" class="btn btn-lg btn-secondary">Learn more</a> -->
        <%= link_to "See more", about_me_path, class: "btn btn-lg btn-secondary" %>
    </p>
</main>