<main role="main" class="inner cover">
  <h1 class="cover-title">Peter Torr Smith</h1>
  <h2 class="cover-heading">Product Owner, Analyst, Delivery Lead, Engineer</h2>
  <h3 class="cover-subtitle">Welcome - Haere mai ki te whare
    <%= current_user.first_names %>
  </h3>
  <p class="lead">This is a bit of a snapshot of what I'm about, what I've done, what I'm doing  :-)</p>
  <%#=link_to "blah", "javascript:blah();"%>
  <%#=link_to "blah2", "javascript:void(0);", onclick: "blah();" %>
  <p class="lead">

    <!-- <a href="<%= about_me_path %>" class="btn btn-lg btn-secondary">Learn more</a> -->
    <%= link_to "See more", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>