<main role="main" class="inner cover">
  <h1 class="cover-heading">Welcome - Haere mai ke te whare
    <%= current_user.first_names %>
  </h1>
  <p class="lead">This is a bit of a snapshot of what I'm about, what I've done, what I'm doing, what I'd like to do
    more, and how we could
    work together :-)</p>
  <p class="lead">

    <!-- <a href="<%= about_me_path %>" class="btn btn-lg btn-secondary">Learn more</a> -->
    <%= link_to "See more", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>