// Place all the styles related to the PortfolioItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
@import "jquery-ui"; // scss import style
/* below if using css, not scss
 * = require jquery-ui
 */
@import 'gritter';



.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

// custom styles

// .portfolio-form {
//     padding-top: 20px;
// }

.portfolio-container {
    padding-top: 30px;
}

#gritter-notice-wrapper {
    padding-top: 60px;
}

// to override gritter notification backgroun
.gritter-item.gritter-css3 {
    background: orange;
}

// to override gritter notification backgroun
.gritter-item.gritter-css3 {
    background: plum;
}