<div class="container portfolio-container">
    <h1>Editing Portfolio Item id:
        <%=@portfolio_item.id%>
    </h1>

    <%= render 'form', portfolio_item: @portfolio_item %>
    <!-- @portfolio_item links incorrectly to portfolio_items/:id, not the singular as we defined -->
    <!-- <%#= link_to 'Show', @portfolio_item %> | -->
    <%#= link_to 'cancel', portfolio_item_show_path(@portfolio_item) %> &nbsp;|&nbsp;
    <%= link_to 'cancel', @portfolio_item %> &nbsp;|&nbsp;
    <%= link_to 'view all portfolio items', portfolio_items_path %>
</div>