
<h1>Portfolio Items</h1>

<p id="notice"><%= notice %></p>


<%= link_to "Create new Portfolio Item", new_portfolio_item_path %>

<% # partials with manual / override collections %>
<%= render partial: 'portfolio_thing', collection: @portfolio_items %>