<div class="album py-5 bg-light">
    <div class="container">
        <%= link_to "Create new Portfolio Item", new_portfolio_item_path if logged_in?(:site_admin) %>

        <div class="row">

            <!-- <h1>Portfolio Items</h1> -->

            <!-- <p id="notice"><%#= notice %></p> -->

            <%# partials with manual / override collections %>
            <%= render partial: 'portfolio_thing', collection: @portfolio_items %>

        </div>
    </div>
</div>