<h1>Portfolio Items</h1>

<% @portfolio_items.each do |portfolio_item| %>
    <h2><%=portfolio_item.title%></h2>
    <h4><%=portfolio_item.subtitle%></h4>
    <p><%=portfolio_item.body%></p>
    <p><%=image_tag portfolio_item.thumb_image%></p>
<% end %>